[submodule "tests/interpreter/spec-test"]
	path = tests/interpreter/spec-test
	url = https://github.com/lang-programming/spec-test
[submodule "resources/lang"]
	path = resources/lang
	url = https://github.com/lang-programming/lang-standard-implementation.git
